@keyframes btn-likes {
    0% {
        background:none;
    }
    100% {
        color: rgb(29, 155, 240);
    }
}


@keyframes btn-post {
    
    100% {
        background-color:  rgb(158, 158, 158);
        border: 1px solid rgb(158, 158, 158);
    }
}