.Main {
    display: flex;
    min-height: 100vh;
    background-color: #000;
}

.tweets-wrapper {
    flex: 1;
}

@media (max-width: 1024px) {
    .Main {
        flex-direction: column;
    }
    
    .tweets-wrapper {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .Main {
        padding: 0 5px;
    }
}